<div class="container">
    <h1>Flight(s)</h1>
    <div>
    <table class="table-borderded table">
        <thead>
            <tr>
                <th scope="col">Flight ID</th>
                <th scope="col">Flight Number</th>
                <th scope="col">Destination</th>
                <th scope="col">Departure Airport</th>
                <th scope="col">Departure Time</th>
                <th scope="col">Arrival Airport</th>
                <th scope="col">Arrival Time</th>
                <th scope="col">Max Capacity</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fDef of fDefs" class="table table-striped-columns">
                <td><span><a href="#">{{fDef.flightID}}</a></span></td>
                <td>{{fDef.flightNumber}}</td>
                <td>{{fDef.destination}}</td>
                <td>{{fDef.departureAirport}}</td>
                <td>{{fDef.departureTime}}</td>
                <td>{{fDef.arrivalAirport}}</td>
                <td>{{fDef.arrivalTime}}</td>
                <td>{{fDef.maxCapacity}}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
